DEBUG=Boolean
LOCAL=Boolean
# MongoDB
MONGO_HOST_LOCAL=String
MONGO_HOST_NETWORK=String
MONGO_PORT=String
MONGO_DB_NAME=String
MONGO_USER=String
MONGO_PASS=String
# POS Backend URL
POS_BACKEND_URL=String
OCR_BACKEND_URL=String
# OpenAPI/LangChain API Key
OPENAI_API_KEY=String